<div class="container">
  <fieldset>
  	<legend>My Info</legend>
    	<div ng-if="infoCtrl.signedup == true">
	        <div> First name: {{infoCtrl.user.firstname}}</div>
	        <div> Last name: {{infoCtrl.user.lastname}}</div>
	        <div> Email: {{infoCtrl.user.email}}</div>
	        <div> Phone: {{infoCtrl.user.phone}}</div>
	        <br/>
	        <div> Favorite menu-item: {{infoCtrl.user.menunumber}}</div>
	        <div> Name: {{infoCtrl.menuitem.name}}</div>
	        <div> Description: {{infoCtrl.menuitem.description}}</div>
	        <img class="img-responsive" width="250" height="150" ng-src="{{infoCtrl.basePath}}/images/{{infoCtrl.user.menunumber}}.jpg" alt="{{infoCtrl.menuitem.name}}">
    	</div>
    	<div ng-if="infoCtrl.signedup == false">
    		<div>Not Signed Up Yet. Sign up Now! </div>
    	</div>
  </fieldset>
</div>